doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/style.css")
		title SMOYA.ME | #{title}
	body#body
		.container
			include _header.pug
			main.main 
				!=content
			footer.footer
				span THE END is here the footer i mean
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js") 
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/CustomEase.min.js") 
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/CSSRulePlugin.min.js") 
		script(src="/script.js")