footer.footer
	.footer-id
	
		.footer-fname 
			h3.footer-form-label First name
			p Sami 
		.footer-lname 
			h3.footer-form-label Last name
			p Moya Medina
		a(href="mailto:smoyame@outlook.com" data-cursor-class="arrow").footer-id-email 
			h3.footer-form-label Email
			p smoyame<wbr>@outlook.com
		a(href="https://www.linkedin.com/in/smoyame" data-cursor-class="arrow").footer-id-linkedin 
			h3.footer-form-label LinkedIn
			p smoyame
	.footer-colophon
		p.footer-colophon-blurb A designer who’s here to help create + deliver change for all peoples. 
		p.footer-copyright &copy; 2022
.footer-bar 
	.marquee 
		span.marquee-txt DC + Bmore
		span.marquee-txt Made with TLC
		span.marquee-txt Currently open to freelance opportunities or especially strong and human-centered full-time opportunities
		span.marquee-txt did you know that 8 out of 10 cats do countdowns?
		span.marquee-txt oh that wasn’t supposed to go on the live site
		span.marquee-txt it's a funny show, check it out maybe
	.marquee(aria-hidden="true") 
		span.marquee-txt DC + Bmore
		span.marquee-txt Made with TLC
		span.marquee-txt Currently open to freelance opportunities or especially strong and human-centered full-time opportunities
		span.marquee-txt did you know that 8 out of 10 cats do countdowns?
		span.marquee-txt oh that wasn’t supposed to go on the live site
		span.marquee-txt it's a funny show, check it out maybe
	.marquee(aria-hidden="true") 
		span.marquee-txt DC + Bmore
		span.marquee-txt Made with TLC
		span.marquee-txt Currently open to freelance opportunities or especially strong and human-centered full-time opportunities
		span.marquee-txt did you know that 8 out of 10 cats do countdowns?
		span.marquee-txt oh that wasn’t supposed to go on the live site
		span.marquee-txt it's a funny show, check it out maybe
	.marquee(aria-hidden="true") 
		span.marquee-txt DC + Bmore
		span.marquee-txt Made with TLC
		span.marquee-txt Currently open to freelance opportunities or especially strong and human-centered full-time opportunities
		span.marquee-txt did you know that 8 out of 10 cats do countdowns?
		span.marquee-txt oh that wasn’t supposed to go on the live site
		span.marquee-txt it's a funny show, check it out maybe
	.marquee(aria-hidden="true") 
		span.marquee-txt DC + Bmore
		span.marquee-txt Made with TLC
		span.marquee-txt Currently open to freelance opportunities or especially strong and human-centered full-time opportunities
		span.marquee-txt did you know that 8 out of 10 cats do countdowns?
		span.marquee-txt oh that wasn’t supposed to go on the live site
		span.marquee-txt it's a funny show, check it out maybe