footer.footer
	.footer-id
	
		.footer-fname 
			h3.footer-form-label First name
			p Sami 
		.footer-lname 
			h3.footer-form-label Last name
			p Moya Medina
		a(href="mailto:smoyame@outlook.com").footer-id-email 
			h3.footer-form-label Email
			p smoyame<wbr>@outlook.com
		a(href="https://www.linkedin.com/in/smoyame").footer-id-linkedin 
			h3.footer-form-label LinkedIn
			p smoyame
	.footer-colophon
		p.footer-colophon-blurb A designer who’s here to help create + deliver change for all peoples.
		p.footer-copyright &copy; 2022
.footer-bar 
	.marquee 
		span.marquee-txt DC + Bmore
		span.marquee-txt hi@smoya.me
		span.marquee-txt Made with TLC &copy; 2021
		span.marquee-txt Have fun and stay safe!
	//- .marquee(aria-hidden="true") 
	//- 	span.marquee-txt DC + Bmore
	//- 	span.marquee-txt hi@smoya.me
	//- 	span.marquee-txt Made with TLC &copy; 2021
	//- 	span.marquee-txt Have fun and stay safe!
	//- .marquee(aria-hidden="true") 
	//- 	span.marquee-txt DC + Bmore
	//- 	span.marquee-txt hi@smoya.me
	//- 	span.marquee-txt Made with TLC &copy; 2021
	//- 	span.marquee-txt Have fun and stay safe!
	//- .marquee(aria-hidden="true") 
	//- 	span.marquee-txt DC + Bmore
	//- 	span.marquee-txt hi@smoya.me
	//- 	span.marquee-txt Made with TLC &copy; 2021
	//- 	span.marquee-txt Have fun and stay safe!
	//- .marquee(aria-hidden="true") 
	//- 	span.marquee-txt DC + Bmore
	//- 	span.marquee-txt hi@smoya.me
	//- 	span.marquee-txt Made with TLC &copy; 2021
	//- 	span.marquee-txt Have fun and stay safe!