header.header 
	h1.logotype 
		a(href="/" data-cursor-class="arrow") Sami Moya Medina
	nav.nav
		input.toggle-checkbox(id="toggle-nav-id" type="checkbox")
		ul.nav-wrapper
			li.nav-item 
				a(href="/#work" data-cursor-class="arrow") Work
			li.nav-item 
				a(href="/sketchbook" data-cursor-class="arrow") Sketchbook
			li.nav-item 
				a(href="/about" data-cursor-class="arrow") About
			li.nav-item 
				a(href="/#finds" data-cursor-class="arrow") Finds
		label.toggle-label(for="toggle-nav-id")
			span.toggle-icon 