.logotype a,
.nav-item a {
	text-transform: uppercase;
}

.nav {
	position: fixed;
	bottom: $unit;
	right: $unit;
	left: $unit;
	width: auto;
	pointer-events: none;
}

.nav-wrapper {
	pointer-events: none;
	:nth-child(1) {
		transition-delay: 100ms;
	}

	:nth-child(2) {
		transition-delay: 200ms;
	}

	:nth-child(3) {
		transition-delay: 300ms;
	}

	:nth-child(4) {
		transition-delay: 400ms;
	}
}

.nav-wrapper::after {
	// the dimming of the background
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	outline: 1px solid red;
	background-color: $background-color;
	// initial opac on default state of input-checkbox
	opacity: 0;
	// take up screen behind nav
	position: fixed;
	top: 0;
	left: 0;
	z-index: -5;
	pointer-events: none;
	transition: 300ms $primary-ease;
}

.toggle-checkbox:checked + .nav-wrapper::after {
	opacity: 0.75;
}

.toggle-checkbox {
	display: none;
	overflow: hidden;
}

.toggle-checkbox:checked ~ .nav-wrapper .nav-item {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	opacity: 1;
	pointer-events: initial;
}

.toggle-checkbox:checked ~ .list-contain {
	.nav-item {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		opacity: 1;
		pointer-events: initial;
	}
}

$label-size: 3rem;

.toggle-label {
	pointer-events: auto;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.75rem 0.75rem 0.75rem 0.74rem;
	background: $main-bright;
	border: 1px solid $main-dark;
	width: $label-size;
	height: $label-size;
	border-radius: 50%;
	// left, right, or center menu icon within entire wrapper with margin
	margin-left: auto;
}

.toggle-icon,
.toggle-icon::before,
.toggle-icon::after {
	display: block;
	background: $main-dark;
	width: 100%;
	height: 2px;
	position: relative;
	transition: transform 300ms ease-in-out;
}

.toggle-icon {
	top: 0.05rem;
}

.toggle-icon::before,
.toggle-icon::after {
	content: "";
	position: absolute;
}

.toggle-icon::before {
	top: 0.5rem;
}

.toggle-icon::after {
	bottom: 0.5rem;
}

$line-translate-size: 250%;

.toggle-checkbox:checked ~ .toggle-label {
	// background: $main-dark;

	.toggle-icon {
		// opacity: 0;
		// background: $main-bright;
		transform: translateX($line-translate-size);

		&:before {
			// background: $main-bright;
			transform: translate(-$line-translate-size, -0.5rem) rotate(-45deg);
			// transform-origin: left;
		}

		&:after {
			// background: $main-bright;
			transform: translate(-$line-translate-size, 0.505rem) rotate(45deg);
			// transform-origin: left;
		}
	}
}

.nav-item {
	text-transform: uppercase;
	margin-bottom: 0.5rem;
	background: $main-bright;
	border-radius: 0.5rem;
	overflow: hidden;
	// default state when hidden... animates on check
	clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
	opacity: 0;
	transition: all 750ms cubic-bezier(0, 0.75, 0.25, 1);
}

.nav-item a {
	pointer-events: auto;
	display: block;
	padding: 1rem $unit 0.65rem $unit;
	color: $main-dark;

	&:hover {
		text-decoration: underline;
	}
}
