section.section.sketchbook
	a(class="sketchbook-banner" href="/sketchbook" data-cursor-class="arrow")
		h2 Sketchbook
		<svg class="topleft" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 139.74 128.75" aria-hidden="true">
			<g>
				<path id="loop1x" class="sketchbook-line" vector-effect="non-scaling-stroke" d="m62.67,116.45c-15.9,23.05-73.77,9.78-59.4-35.1,7.38-23.04,40.58-42.84,64.52-22.59,22.08,18.67-7.78,35.84-16.32,17.09C40.04,50.74,62.24,2.06,121.08,1.15c6.5-.1,12.54.59,17.78,1.6"/>
			</g>
		</svg>
		<svg class="topright" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98.68 105.06" aria-hidden="true">
			<g>
				<path id="star7p" class="sketchbook-line" vector-effect="non-scaling-stroke" d="m40.88.89c2.94,32.46,4.17,56.29-24.5,25.55,8.42,12.6,28.53,35.77-15.39,39.67,36.56.99,34.45,23.53,29.57,38.29,11.57-18.47,25.72-34.92,39.93-13.75-10.81-23.76-1.88-29.07,27.39-36.06-34.51,4.21-30.82-9.58-14.18-34.71C57.61,39.02,57.47,43.08,40.88.89Z"/>
			</g>
		</svg>
		<svg class="bottleft" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 142.36 94.31" aria-hidden="true">
			<g>
				<path id="star6p" class="sketchbook-line" vector-effect="non-scaling-stroke" d="m20.25,4.72c12.37,21.8,4.36,27.44-19.25,26.64,27.72,2.99,27.83,13.19,19.81,33.99,19.84-27.97,29.89-27.59,40.01-7.12-9.35-21.71-5.58-25.82,20.46-33.67-22.88,1.18-35.36.82-29.4-23.57-10.9,27.98-19.8,16.8-31.64,3.72Z"/>
				<path id="loop4x" class="sketchbook-line" vector-effect="non-scaling-stroke" d="m138.22,37.65c-3.45-14.5-19.8-13.5-23.83,1.99-4.92,18.91,14.5,40.49,24.87,35.03,11.08-5.84-19.32-24.97-34.49-14.47-12.57,8.71-14.01,32.51-4.58,33.1,9.54.6,5.57-25.18-7.04-30.86-19.92-8.98-30.63,8.21-25.5,11.86,5.14,3.65,26.1-10.39,2.89-31.66"/>
			</g>
		</svg>
		<svg class="bottright" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 91.17 151.63" aria-hidden="true">
			<g>
				<path id="star5p" class="sketchbook-line" vector-effect="non-scaling-stroke" d="m41.59,1c5.7,14.5,9.24,24-10.62,27.8,17.42.09,21.35,6.61,22.27,23.57.86-13.38,1.21-26.76,30.39-23.14-10.53-6.22-17.09-8.63-9.24-27.45-17.39,21.93-26.34,8.58-32.81-.78Z"/>
				<path id="loop3x" class="sketchbook-line" vector-effect="non-scaling-stroke" d="m2.92,150.78c4.06,0,13.09-1.02,19.29-10.49,13.29-20.29-13.55-42.38-20.58-25.77-5.19,12.26,22.91,19.46,39.96,1.12,18.21-19.58,7.38-62.5-16.2-48.2C-.01,82.87,42.63,125.14,78.52,100.83c18.14-12.29,15.05-40.18-5.97-54.42"/>
			</g>
		</svg>
each piece in sketchbook
	- let sketch = piece.entry.data.attributes
	img.sketch-preview(aria-hidden="true" alt="test" src=`/_assets/${sketch.formats.thumbnail.hash}${sketch.formats.thumbnail.ext}`)
