---
title: Designer + Hobbyist Dev
layout: '_base.pug'
---

section.section.hero-home
	.hero-text With a love for digital and social design, I strive to keep giving while growing.
section.section.work#work 
	h2 My work
	.project-gallery
		each project in projects
			.project-card 
				a.proj-card-text(href="#projectlink")
					h3.proj-card-title #{project.title}
				.proj-card-tag 
					p Web Design
				a.proj-card-img-wrapper(href="#projectlink") 
					img.proj-card-img(src="/_assets/medium_valivaryus_splash_01_5c339485d5.png", alt="Photo", srcset="")
	//- ul
	//- 	each project in projects
	//- 		li #{project.title}
	//- 		li #{project.prompt}
section.section.sketchbook
	h2 Sketchbook
section.section.about 
	h2 About Me
section.section.finds
	h2 Interesting Finds
