@charset "UTF-8";
/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * dico-mono-script:
 *   - http://typekit.com/eulas/00000000000000007735c4e4
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-09-12 00:39:09 UTC"}*/
@import url("https://p.typekit.net/p.css?s=1&k=sop2imr&ht=tk&f=45648&a=5108939&app=typekit&e=css");
@font-face {
  font-family: "Dico Mono Script";
  src: url("https://use.typekit.net/af/c37c7e/00000000000000007735c4e4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/c37c7e/00000000000000007735c4e4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/c37c7e/00000000000000007735c4e4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
.tk-dico-mono-script {
  font-family: "Dico Mono Script", mono;
}

/* Neuething Sans */
@font-face {
  font-family: "Neuething Sans Semi-expanded";
  src: url("/_assets/fonts/NeuethingSans-RegularSemiExpanded.woff2") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "Neuething Sans Semi-expanded";
  src: url("/_assets/fonts/NeuethingSans-SemiBoldSemiExpanded.woff2") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}
@font-face {
  font-family: "Neuething Sans Semi-expanded";
  src: url("/_assets/fonts/NeuethingSans-BoldSemiExpanded.woff2") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family: "Neuething Sans Semi-expanded";
  src: url("/_assets/fonts/NeuethingSans-EtraBoldSemiExpanded.woff2") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}
/* PP Editorial New */
@font-face {
  font-family: "PP Editorial New";
  src: url("/_assets/fonts/PPEditorialNew-Regular.woff2") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

h1,
h2,
h3 {
  display: inline-block;
}

img,
picture,
video,
canvas,
svg,
li {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/***** Custom Class Dependent *****/
.logotype a,
.nav-item a {
  text-decoration: none;
  color: inherit;
}

.nav ul {
  list-style: none;
  padding-left: 0;
}

.nav-item,
.logotype {
  line-height: 1;
}

.nav-item a {
  display: block;
}

* {
  --primary-font: "Neuething Sans Semi-expanded", Poppins, Helvetica, Arial,
  	sans-serif;
  --secondary-font: "PP Editorial New", "Playfair Display", Cambria, Cochin,
  	Georgia, Times, "Times New Roman", serif;
  --tertiary-font: "Dico Mono Script", "Courier New", Courier, monospace;
  --main-bright: hsla(238, 42%, 88%);
  --main-pensive: hsla(176, 69%, 18%);
  --main-poder: hsla(216, 100%, 33%);
  --main-vibing: hsla(268, 95%, 77%);
  --main-alertness: hsla(3, 100%, 69%);
  --main-disfruta: hsla(335, 100%, 73%);
  --main-zesty: hsla(48, 100%, 72%);
  --main-dark: hsla(240, 8%, 22%);
  --foreground-color: var(--main-bright);
  --background-color: var(--main-dark);
  --fontsize-base: clamp(16.5px, calc(8px + 1.5vw), 22px);
  --fontsize-hero: clamp(
  	2.175rem,
  	calc(8px + 2.95vw),
  	10rem
  );
  --fontsize-b: clamp(2.55rem, 5.78vw, 7rem);
  --fontsize-c: clamp(1.75rem, 3.8vw, 3.6rem);
  --unit: var(--fontsize-base);
  --border-base: 2px solid var(--foreground-color);
  --border-radius-unit: 0.5rem;
  --primary-ease: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --line-translate-size: 250%;
  --label-size: 3rem;
  --section-block-padding: 6rem;
  --h2-space-below: 5.5rem;
  --grid-col-setup: repeat(12, 1fr);
  --proj-card-height: calc(38vh + 18vw);
  font-size: var(--fontsize-base);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  color: var(--foreground-color);
  background: var(--background-color);
  line-height: 1.6;
  letter-spacing: 0.025em;
}

.header,
.section,
.footer {
  padding-inline: var(--unit);
}

.header {
  padding-top: calc(var(--unit) + 0.3rem);
}

.section {
  min-height: 40vh;
}

.no-scroll {
  overflow: hidden;
}

.logotype {
  position: fixed;
  mix-blend-mode: difference;
}

.logotype a,
.nav-item a {
  text-transform: uppercase;
}

.nav {
  position: fixed;
  bottom: var(--unit);
  right: var(--unit);
  left: var(--unit);
  width: auto;
  pointer-events: none;
}

.nav-wrapper {
  pointer-events: none;
  margin-bottom: calc(var(--unit) * 1.5);
}
.nav-wrapper :nth-child(1) {
  transition-delay: 100ms;
}
.nav-wrapper :nth-child(2) {
  transition-delay: 200ms;
}
.nav-wrapper :nth-child(3) {
  transition-delay: 300ms;
}
.nav-wrapper :nth-child(4) {
  transition-delay: 400ms;
}

.nav-wrapper::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  pointer-events: none;
  transition: 300ms ease-in;
}

.nav-wrapper::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
  pointer-events: none;
  transition: 300ms ease-in;
}

.toggle-checkbox:checked + .nav-wrapper::after {
  opacity: 1;
}

.toggle-checkbox:checked + .nav-wrapper::before {
  opacity: 0.9;
}

.toggle-checkbox {
  display: none;
  overflow: hidden;
}

.toggle-checkbox:checked ~ .nav-wrapper .nav-item {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transform: translateY(0%);
  opacity: 1;
  pointer-events: initial;
}

.toggle-checkbox:checked ~ .list-contain .nav-item {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  opacity: 1;
  pointer-events: initial;
}

.toggle-label {
  pointer-events: auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem 0.75rem 0.75rem 0.74rem;
  background: var(--background-color);
  border: 2px solid var(--foreground-color);
  width: var(--label-size);
  height: var(--label-size);
  border-radius: 0.5rem;
  margin-left: auto;
  position: relative;
  z-index: 100;
}

.toggle-icon,
.toggle-icon::before,
.toggle-icon::after {
  display: block;
  background: var(--foreground-color);
  width: 100%;
  height: 2px;
  position: relative;
  transition: transform 300ms ease-in-out;
}

.toggle-icon {
  top: 0.05rem;
}

.toggle-icon::before,
.toggle-icon::after {
  content: "";
  position: absolute;
}

.toggle-icon::before {
  top: 0.5rem;
}

.toggle-icon::after {
  bottom: 0.5rem;
}

.toggle-checkbox:checked ~ .toggle-label .toggle-icon {
  transform: translateX(var(--line-translate-size));
}
.toggle-checkbox:checked ~ .toggle-label .toggle-icon:before {
  transform: translate(calc(-1 * var(--line-translate-size)), -0.5rem) rotate(-45deg);
}
.toggle-checkbox:checked ~ .toggle-label .toggle-icon:after {
  transform: translate(calc(-1 * var(--line-translate-size)), 0.47rem) rotate(45deg);
}

.nav-item {
  text-transform: uppercase;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transform: translateY(40%);
  opacity: 0;
  transition: all 300ms cubic-bezier(0, 0.75, 0.25, 1);
}

.nav-item a {
  pointer-events: auto;
  display: block;
  padding-block: 1rem 0.65rem;
  color: var(--foreground-color);
  border-bottom: var(--border-base);
  z-index: 100;
  transition: all 200ms ease-in-out;
}
.nav-item a:hover {
  background-color: var(--main-bright);
  color: var(--main-dark);
  padding-left: 0.5rem;
}

img {
  width: 100%;
  height: 100%;
}

h2 {
  font-size: var(--fontsize-b);
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.025em;
  margin-bottom: var(--h2-space-below);
}

.section:not(.section.hero-home) {
  padding-block: var(--section-block-padding);
}

.section.hero-home {
  grid-template-columns: var(--grid-col-setup);
}

.hero-home {
  min-height: 78vh;
  padding-bottom: calc(var(--unit) * 2);
  display: grid;
  gap: 1.818rem;
  align-items: end;
}

.hero-text {
  font-size: var(--fontsize-hero);
  line-height: 1.3em;
  font-weight: 600;
  grid-column: 1/-1;
}

.work * {
  --background-color: var(--main-vibing);
  --foreground-color: var(--main-dark);
}

.work {
  scroll-margin-top: 6rem;
  --background-color: var(--main-vibing);
  --foreground-color: var(--main-dark);
  background-color: var(--background-color);
  color: var(--foreground-color);
}

.project-card {
  height: var(--proj-card-height);
  margin-bottom: calc(var(--section-block-padding) / 2);
  display: grid;
  grid-template-rows: calc(var(--fontsize-c) * 1.83) auto calc(var(--fontsize-c) * 1.83);
}

.proj-card-title {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: var(--fontsize-c);
  line-height: 1em;
  padding: 0.5em 0.28em 0.2em 0.28em;
  border: 2px solid var(--foreground-color);
  min-width: 100%;
  border-radius: var(--border-radius-unit);
  height: 100%;
  grid-row: 1/-2;
  grid-column: 1/-1;
}

.proj-card-img-wrapper {
  height: 100%;
  width: 100%;
  border: 2px solid var(--foreground-color);
  border-radius: var(--border-radius-unit);
  overflow: hidden;
  grid-row: 2/-1;
  grid-column: 1/-1;
}

.proj-card-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: var(--border-radius-unit);
}/*# sourceMappingURL=style.css.map */