@use "_includes/fonts";
@use "_includes/reset";

* {
	// Global Variables
	--primary-font: "Neuething Sans Semi-expanded", Poppins, Helvetica, Arial,
		sans-serif;
	--secondary-font: "PP Editorial New", "Playfair Display", Cambria, Cochin,
		Georgia, Times, "Times New Roman", serif;
	--tertiary-font: "Dico Mono Script", "Courier New", Courier, monospace;

	--main-bright: hsla(238, 42%, 88%);
	--main-pensive: hsla(176, 69%, 18%);
	--main-poder: hsla(216, 100%, 33%);
	--main-vibing: hsla(268, 95%, 77%);
	--main-alertness: hsla(3, 100%, 69%);
	--main-disfruta: hsla(335, 100%, 73%);
	--main-zesty: hsla(48, 100%, 72%);
	--main-dark: hsla(240, 8%, 22%);

	--foreground-color: var(--main-bright);
	--background-color: var(--main-dark);

	--fontsize-base: clamp(16.5px, calc(8px + 1.5vw), 22px);
	// --fontsize-hero: clamp(2.175rem, 3.45vw, 10rem); //finesse this later
	--fontsize-hero: clamp(
		2.175rem,
		calc(8px + 3.05vw),
		10rem
	); //finesse this later
	--fontsize-b: clamp(2.55rem, 5.78vw, 7rem);
	--fontsize-c: clamp(1.75rem, 3.8vw, 3.6rem);

	--unit: var(--fontsize-base);
	--border-base: 2px solid var(--foreground-color);
	--border-radius-unit: 0.5rem;
	--primary-ease: cubic-bezier(0.6, 0.04, 0.98, 0.335);

	--line-translate-size: 250%;
	--label-size: 3rem;

	--section-block-padding: 7rem;
	--h2-space-below: 5.5rem;

	--grid-col-setup: repeat(12, 1fr);
	--gap-size: 1.818rem;

	--proj-card-height: calc(25vh + 25vw);
	// Actual base settings
	font-size: var(--fontsize-base);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--primary-font);
	color: var(--foreground-color);
	background: var(--background-color);
	line-height: 1.6;
	letter-spacing: 0.025em;
}

.header,
.section,
.footer {
	padding-inline: var(--unit);
}

a {
	color: var(--foreground-color);
}

.header {
	padding-top: calc(var(--unit) + 0.3rem);
}

.section:not(.section.hero-home) {
	position: relative;
	z-index: 1;
}

.section {
	min-height: 40vh;
	grid-template-columns: var(--grid-col-setup);
	gap: var(--gap-size);
}
// Utilities

.no-scroll {
	overflow: hidden;
}

// ***** Header ***** //

.header {
	position: fixed;
	z-index: 100;
	pointer-events: none;
}

// ** NAV ** //

.logotype a,
.nav-item a {
	text-transform: uppercase;
}

.nav {
	position: fixed;
	bottom: var(--unit);
	right: var(--unit);
	left: var(--unit);
	width: auto;
	z-index: 100;
	// solving passing event through div
	pointer-events: none;
}

.nav-wrapper {
	margin-bottom: calc(var(--unit) * 1.5);
	transition-property: transform, clip-path, translateY, opacity;
	:nth-child(1) {
		transition-delay: 100ms;
		// transition-property: transform, clip-path, translateY, opacity;
	}

	:nth-child(2) {
		transition-delay: 200ms;
		// transition-property: transform, clip-path, translateY, opacity;
	}

	:nth-child(3) {
		transition-delay: 300ms;
		// transition-property: transform, clip-path, translateY, opacity;
	}

	:nth-child(4) {
		transition-delay: 400ms;
		// transition-property: transform, clip-path, translateY, opacity;
	}
}

.nav-wrapper::after {
	// the dimming of the background
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	// background-color: var(--background-color);
	// initial opac on default state of input-checkbox
	opacity: 0;
	// take up screen behind nav
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
	backdrop-filter: blur(10px);
	transition: 300ms ease-in;
}

.nav-wrapper::before {
	// the dimming of the background
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
	// initial opac on default state of input-checkbox
	opacity: 0;
	// take up screen behind nav
	position: fixed;
	top: 0;
	left: 0;
	z-index: -5;
	transition: 300ms ease-in;
}

.toggle-checkbox:checked + .nav-wrapper::after {
	opacity: 1;
}

.toggle-checkbox:checked + .nav-wrapper::before {
	opacity: 0.9;
}

.toggle-checkbox {
	display: none;
	overflow: hidden;
}

.toggle-checkbox:checked ~ .nav-wrapper .nav-item {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	transform: translateY(0%);
	opacity: 1;
	pointer-events: initial;
}

.toggle-checkbox:checked ~ .list-contain {
	.nav-item {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		opacity: 1;
		pointer-events: initial;
	}
}

.toggle-label {
	pointer-events: auto;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.75rem 0.75rem 0.75rem 0.74rem;
	background: var(--background-color);
	border: 2px solid var(--foreground-color);
	width: var(--label-size);
	height: var(--label-size);
	border-radius: 0.5rem;
	// left, right, or center menu icon within entire wrapper with margin
	margin-left: auto;
	// to fix layering
	position: relative;
	z-index: 100;
}

.toggle-icon,
.toggle-icon::before,
.toggle-icon::after {
	display: block;
	background: var(--foreground-color);
	width: 100%;
	height: 2px;
	position: relative;
	transition: transform 300ms ease-in-out;
}

.toggle-icon {
	top: 0.05rem;
}

.toggle-icon::before,
.toggle-icon::after {
	content: "";
	position: absolute;
}

.toggle-icon::before {
	top: 0.5rem;
}

.toggle-icon::after {
	bottom: 0.5rem;
}

.toggle-checkbox:checked ~ .toggle-label {
	.toggle-icon {
		transform: translateX(var(--line-translate-size));

		&:before {
			transform: translate(calc(-1 * var(--line-translate-size)), -0.5rem)
				rotate(-45deg);
		}

		&:after {
			transform: translate(calc(-1 * var(--line-translate-size)), 0.47rem)
				rotate(45deg);
		}
	}
}

body:not(.no-scroll) .toggle-checkbox:not(:checked) ~ .nav-wrapper,
body:not(.no-scroll) .toggle-checkbox:not(:checked) ~ .nav-wrapper .nav-item a {
	pointer-events: none;
}

body.no-scroll .toggle-checkbox:checked ~ .nav-wrapper,
body.no-scroll .toggle-checkbox:checked ~ .nav-wrapper .nav-item a {
	pointer-events: auto;
}

.nav-item {
	text-transform: uppercase;
	// default state when hidden... animates on check
	clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
	transform: translateY(40%);
	opacity: 0;
	transition: all 300ms cubic-bezier(0, 0.75, 0.25, 1);
}

.nav-item a {
	pointer-events: auto;
	display: block;
	padding-block: 1rem 0.65rem;
	color: var(--foreground-color);
	border-bottom: var(--border-base);
	z-index: 100;
	transition: all 100ms ease-out;
	transition-property: padding, backgound-color;
	&:hover {
		background-color: var(--main-bright);
		color: var(--main-dark);
		padding-left: 0.5rem;
	}
}

// ***** Main Content ***** //

img {
	width: 100%;
	height: 100%;
}

h2 {
	font-size: var(--fontsize-b);
	font-weight: 600;
	line-height: 1.25;
	letter-spacing: -0.025em;
	margin-bottom: var(--h2-space-below);
}

.section:not(.section.hero-home) {
	padding-block: var(--section-block-padding);
}
// ** HOME - HERO ** //

.hero-home {
	min-height: calc(82vh + 4vw);
	padding-bottom: calc(var(--unit) * 2);
	// desktop ?
	display: grid;
	grid-template-columns: var(--grid-col-setup);
	gap: var(--gap-size);
	align-items: end;
	position: sticky;
	top: 0;
}

.hero-text {
	font-size: var(--fontsize-hero);
	line-height: 1.4em;
	font-weight: 600;
	grid-column: 1 / -1;
	transition: grid-column 4s ease-in;
	z-index: -4;
}

// ** HOME - PROJECT ** //

.work * {
	--background-color: var(--main-vibing);
	--foreground-color: var(--main-dark);
}

.work {
	scroll-margin-top: 6rem;
	--background-color: var(--main-vibing);
	--foreground-color: var(--main-dark);
	background-color: var(--background-color);
	color: var(--foreground-color);
}

.project-card {
	aspect-ratio: 12 / 9.375;
	// height: var(--proj-card-height);
	margin-bottom: calc(var(--section-block-padding) / 2);
	// overlap prep
	display: grid;
	grid-template-rows: (calc(var(--fontsize-c) * 1.83)) auto (
			(calc(var(--fontsize-c) * 1.83))
		);
}

.project-card .proj-card-text {
	transition: 350ms cubic-bezier(0.21, 1.44, 0.54, 1);
}

.project-card:hover .proj-card-text {
	// translate: (calc(var(--unit) / -2)) (calc(var(--unit) / -2));
	transform-origin: center;
	transform: rotate(-1deg);
}

.project-card .proj-card-img-wrapper {
	transition: 350ms cubic-bezier(0.21, 1.44, 0.54, 1);
}

.project-card:hover .proj-card-img-wrapper {
	// translate: (calc(var(--unit) / 2)) (calc(var(--unit) / 2));
	transform-origin: center;
	transform: rotate(1deg);
}

.proj-card-text {
	display: block;
	border: 2px solid var(--foreground-color);
	min-width: 100%;
	border-radius: var(--border-radius-unit);
	//faux height, card
	height: 100%;
	//overlap
	grid-row: 1 / -2;
	grid-column: 1 / -1;
}

.proj-card-title {
	font-family: var(--secondary-font);
	font-weight: 300;
	font-size: var(--fontsize-c);
	line-height: 1em;
	padding: 0.5em 0.28em 0.2em 0.28em;
}

.proj-card-img-wrapper {
	height: 100%;
	width: 100%;
	//faux height, card
	//apply to both wrapper and img for slide in to fit effect
	border: 2px solid var(--foreground-color);
	border-radius: var(--border-radius-unit);
	overflow: hidden;
	//overlap
	grid-row: 2 / -1;
	grid-column: 1 / -1;
}

.proj-card-img {
	width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: var(--border-radius-unit);
}

// ***** Desktop ***** //

@media (min-width: 860px) {
	// Utilities
	.no-scroll {
		overflow: auto;
	}

	// ***** Header ***** //

	.header {
		width: 100%;
		position: fixed;
		display: flex;
		justify-content: space-between;
	}

	.logotype {
		position: static;
		pointer-events: auto;
	}

	// ** NAV ** //

	.nav {
		position: static;
		top: initial;
		bottom: initial;
		right: initial;
		left: initial;
		width: 14.8%;
		min-width: 13ch;
		pointer-events: auto;
	}

	.nav-wrapper {
		margin-bottom: 0;
	}

	.nav-wrapper::after {
		content: unset;
	}

	.nav-wrapper::before {
		content: unset;
	}

	.toggle-checkbox {
		overflow: auto;
	}

	.toggle-checkbox ~ .nav-wrapper .nav-item {
		clip-path: none;
		transform: translateY(0%);
		opacity: 1;
		pointer-events: initial;
	}

	.toggle-checkbox ~ .list-contain {
		.nav-item {
			clip-path: none;
			opacity: 1;
			pointer-events: initial;
		}
	}

	body:not(.no-scroll) .toggle-checkbox:not(:checked) ~ .nav-wrapper,
	body:not(.no-scroll)
		.toggle-checkbox:not(:checked)
		~ .nav-wrapper
		.nav-item
		a {
		pointer-events: initial;
	}

	.toggle-label {
		display: none;
	}

	.nav-item {
		opacity: 1;
	}

	.nav-item a {
		pointer-events: auto;
		display: block;
		padding-block: unset;
		color: var(--foreground-color);
		border-bottom: none;
		transition: all 100ms ease-out;
		transition-property: padding, backgound-color;
		&:hover {
			background-color: unset;
			color: unset;
			padding-left: 0.5rem;
		}
	}

	// * new desktop settings * //

	.nav-item a {
		padding-bottom: 0.28rem;
		display: flex;
		justify-content: space-between;
	}

	.nav-item a::after {
		content: "\2197";
		display: inline-block;
		opacity: 0;
		margin-left: 0.5rem;
		// for adjusting relative size;
		font-family: var(--secondary-font);
		font-size: 1.525rem;
		font-weight: 300;
		line-height: 0.55;
		transition: 100ms var(--primary-ease);
	}

	.nav-item a:hover {
		padding-left: 0;
	}

	.nav-item a:hover::after {
		opacity: 1;
		// padding-right: 0.5rem;
	}

	.nav-item:not(:first-of-type) a {
		padding-top: 0.5rem;
		border-top: 2px solid var(--foreground-color);
	}

	.nav-item:last-of-type a {
		border-bottom: 2px solid var(--foreground-color);
	}

	// ***** Main Content ***** //

	.hero-text {
		grid-column: 5 / -1;
	}
	// ** HOME - PROJECT ** //
	.work {
		display: grid;
		grid-template-columns: var(--grid-col-setup);
		gap: var(--unit);
	}

	.work > h2 {
		grid-column: 3 / -1;
	}

	.project-gallery {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: var(--grid-col-setup);
		gap: var(--gap-size);
	}

	.project-card {
		grid-column: 5 / span 6;
	}

	.project-card:nth-child(even) {
		grid-column-start: 3;
	}
}
