@charset "UTF-8";
/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * dico-mono-script:
 *   - http://typekit.com/eulas/00000000000000007735c4e4
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-09-12 00:39:09 UTC"}*/
@import url("https://p.typekit.net/p.css?s=1&k=sop2imr&ht=tk&f=45648&a=5108939&app=typekit&e=css");
@font-face {
  font-family: "Dico Mono Script";
  src: url("https://use.typekit.net/af/c37c7e/00000000000000007735c4e4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/c37c7e/00000000000000007735c4e4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/c37c7e/00000000000000007735c4e4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
.tk-dico-mono-script {
  font-family: "Dico Mono Script", mono;
}

/* PP Mori - Free to use for personal use */
@font-face {
  font-family: "PP Mori";
  src: url("/_assets/fonts/PPMori-Regular.woff2") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "PP Mori";
  src: url("/_assets/fonts/PPMori-Semibold.woff2") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}
@font-face {
  font-family: "PP Mori";
  src: url("/_assets/fonts/PPMori-ExtraBold.woff2") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}
/* PP Editorial New */
@font-face {
  font-family: "PP Editorial New";
  src: url("/_assets/fonts/PPEditorialNew-Regular.woff2") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

h1,
h2,
h3 {
  display: inline-block;
}

img,
picture,
video,
canvas,
svg,
li {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/***** Custom Class Dependent *****/
.logotype a,
.nav-item a {
  text-decoration: none;
  color: inherit;
}

.nav ul {
  list-style: none;
  padding-left: 0;
}

.nav-item,
.logotype {
  line-height: 1;
}

.nav-item a {
  display: block;
}

* {
  --primary-font: "PP Mori", Poppins, Helvetica, Arial, sans-serif;
  --secondary-font: "PP Editorial New", "Playfair Display", Cambria, Cochin,
  	Georgia, Times, "Times New Roman", serif;
  --tertiary-font: "Dico Mono Script", "Courier New", Courier, monospace;
  --main-bright: hsla(238, 42%, 88%);
  --main-pensive: hsla(176, 69%, 18%);
  --main-poder: hsla(216, 100%, 33%);
  --main-vibing: hsla(268, 95%, 77%);
  --main-alertness: hsla(3, 100%, 69%);
  --main-disfruta: hsla(335, 100%, 73%);
  --main-zesty: hsla(48, 100%, 72%);
  --main-dark: hsla(240, 8%, 22%);
  --foreground-color: var(--main-bright);
  --background-color: var(--main-dark);
  --fontsize-base: clamp(16.5px, calc(8px + 1.5vw), 22px);
  --fontsize-hero: clamp(
  	2.175rem,
  	calc(11px + 4.25vw),
  	10rem
  );
  --fontsize-b: clamp(2.55rem, 5.78vw, 7rem);
  --fontsize-c: clamp(1.75rem, 3.8vw, 3.6rem);
  --fontsize-d: clamp(1.65rem, 3.45vw, 2rem);
  --unit: var(--fontsize-base);
  --border-base: 2px solid var(--foreground-color);
  --border-radius-unit: 0.5rem;
  --primary-ease: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --line-translate-size: 250%;
  --label-size: 3rem;
  --section-block-padding: 7rem;
  --h2-space-below: 2rem;
  --grid-col-setup: repeat(12, 1fr);
  --gap-size: 1.818rem;
  font-size: var(--fontsize-base);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  color: var(--foreground-color);
  background: var(--background-color);
  line-height: 1.6;
  letter-spacing: 0.025em;
}

.header,
.section,
.footer {
  padding-inline: var(--unit);
}

a {
  color: var(--foreground-color);
}

p:not([class], .footer-form-label ~ p) {
  margin-bottom: 1em;
}

.header {
  padding-top: calc(var(--unit));
}

.section:not(.section.hero-home) {
  position: relative;
  z-index: 1;
}

.section {
  min-height: 40vh;
  grid-template-columns: var(--grid-col-setup);
  gap: var(--gap-size);
}

.no-scroll {
  overflow: hidden;
}

#cursor {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: color-burn;
}

@media (hover: hover) and (pointer: fine) {
  .cursor__circle {
    width: 64px;
    height: 64px;
    margin-top: -50%;
    margin-left: -50%;
    border-radius: 50%;
    border: solid 2px var(--main-dark);
    background-color: var(--main-dark);
    transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1), background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), width 0.3s cubic-bezier(0.25, 1, 0.5, 1), height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }
  #cursor.arrow .cursor__circle {
    width: 128px;
    height: 128px;
    background-color: var(--main-vibing);
    border-color: var(--main-vibing);
  }
  #cursor.arrow {
    mix-blend-mode: soft-light;
  }
  #cursor.arrow::after {
    content: "";
    position: absolute;
    left: -50%;
    top: -50%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  #cursor.subtle .cursor__circle {
    opacity: 0.16;
  }
  #cursor.overlay .cursor__circle {
    width: 48px;
    height: 48px;
    background-color: var(--main-vibing);
  }
}
.header {
  position: fixed;
  z-index: 100;
  pointer-events: none;
}

.logotype a,
.nav-item a {
  text-transform: uppercase;
}

.logotype a {
  color: var(--foreground-color);
  font-weight: 600;
  mix-blend-mode: difference;
  z-index: 999;
}

.nav {
  position: fixed;
  bottom: var(--unit);
  right: var(--unit);
  left: var(--unit);
  width: auto;
  z-index: 100;
  pointer-events: none;
}

.nav-wrapper {
  margin-bottom: calc(var(--unit) * 1.5);
  transition-property: transform, translateY, opacity, -webkit-clip-path;
  transition-property: transform, clip-path, translateY, opacity;
  transition-property: transform, clip-path, translateY, opacity, -webkit-clip-path;
}
.nav-wrapper :nth-child(1) {
  transition-property: inherit;
  transition-delay: 100ms;
  transition-property: transform, translateY, opacity, -webkit-clip-path;
  transition-property: transform, clip-path, translateY, opacity;
  transition-property: transform, clip-path, translateY, opacity, -webkit-clip-path;
}
.nav-wrapper :nth-child(2) {
  transition-property: inherit;
  transition-delay: 200ms;
  transition-property: transform, translateY, opacity, -webkit-clip-path;
  transition-property: transform, clip-path, translateY, opacity;
  transition-property: transform, clip-path, translateY, opacity, -webkit-clip-path;
}
.nav-wrapper :nth-child(3) {
  transition-property: inherit;
  transition-delay: 300ms;
  transition-property: transform, translateY, opacity, -webkit-clip-path;
  transition-property: transform, clip-path, translateY, opacity;
  transition-property: transform, clip-path, translateY, opacity, -webkit-clip-path;
}
.nav-wrapper :nth-child(4) {
  transition-property: inherit;
  transition-delay: 400ms;
  transition-property: transform, translateY, opacity, -webkit-clip-path;
  transition-property: transform, clip-path, translateY, opacity;
  transition-property: transform, clip-path, translateY, opacity, -webkit-clip-path;
}

.nav-wrapper::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: opacity 300ms ease-in;
}

.nav-wrapper::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
  transition: opacity 300ms ease-in;
}

.toggle-checkbox:checked + .nav-wrapper::after {
  opacity: 1;
}

.toggle-checkbox:checked + .nav-wrapper::before {
  opacity: 0.9;
}

.toggle-checkbox {
  display: none;
  overflow: hidden;
}

.toggle-checkbox:checked ~ .nav-wrapper .nav-item {
  transform: translateY(0%);
  opacity: 1;
  pointer-events: initial;
}

.toggle-checkbox:checked ~ .list-contain .nav-item {
  opacity: 1;
  pointer-events: initial;
}

.toggle-label {
  pointer-events: auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem 0.75rem 0.75rem 0.74rem;
  background: var(--background-color);
  border: 2px solid var(--foreground-color);
  width: var(--label-size);
  height: var(--label-size);
  border-radius: 0.5rem;
  margin-left: auto;
  position: relative;
  z-index: 100;
}

.toggle-icon,
.toggle-icon::before,
.toggle-icon::after {
  display: block;
  background: var(--foreground-color);
  width: 100%;
  height: 2px;
  position: relative;
  transition: transform 300ms ease-in-out;
}

.toggle-icon {
  top: 0.05rem;
}

.toggle-icon::before,
.toggle-icon::after {
  content: "";
  position: absolute;
}

.toggle-icon::before {
  top: 0.5rem;
}

.toggle-icon::after {
  bottom: 0.5rem;
}

.toggle-checkbox:checked ~ .toggle-label .toggle-icon {
  transform: translateX(var(--line-translate-size));
}
.toggle-checkbox:checked ~ .toggle-label .toggle-icon:before {
  transform: translate(calc(-1 * var(--line-translate-size)), -0.5rem) rotate(-45deg);
}
.toggle-checkbox:checked ~ .toggle-label .toggle-icon:after {
  transform: translate(calc(-1 * var(--line-translate-size)), 0.47rem) rotate(45deg);
}

body:not(.no-scroll) .toggle-checkbox:not(:checked) ~ .nav-wrapper,
body:not(.no-scroll) .toggle-checkbox:not(:checked) ~ .nav-wrapper .nav-item a {
  pointer-events: none;
}

body.no-scroll .toggle-checkbox:checked ~ .nav-wrapper,
body.no-scroll .toggle-checkbox:checked ~ .nav-wrapper .nav-item a {
  pointer-events: auto;
}

/* Lined List */
.nav-item {
  text-transform: uppercase;
  transform: translateY(40%);
  opacity: 0;
  transition: transform 300ms cubic-bezier(0, 0.75, 0.25, 1);
}

.nav-item a {
  pointer-events: auto;
  display: block;
  padding-block: 1rem 0.65rem;
  color: var(--foreground-color);
  border-bottom: var(--border-base);
  transition: padding 100ms ease-out, backgound-color 100ms ease-out;
}

.nav-item a:hover {
  background-color: var(--foreground-color);
  color: var(--background-color);
  padding-left: 0.5rem;
}

img {
  width: 100%;
  height: 100%;
}

h2 {
  font-family: var(--primary-font);
  font-size: var(--fontsize-b);
  font-weight: 600;
  line-height: 1em;
  letter-spacing: -0.025em;
  margin-bottom: var(--h2-space-below);
}

.section:not(.section.hero-home) {
  padding-block: var(--section-block-padding);
}

.section {
  grid-template-columns: var(--grid-col-setup);
}

.hero-home {
  min-height: calc(82vh + 4vw);
  padding-bottom: calc(var(--unit) * 2);
  display: grid;
  grid-template-columns: var(--grid-col-setup);
  gap: var(--gap-size);
  align-items: end;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.hero-text {
  font-size: var(--fontsize-hero);
  letter-spacing: -0.0125em;
  line-height: 1.125em;
  font-family: var(--primary-font);
  font-weight: 300;
  text-transform: uppercase;
  margin-left: clamp(0%, 54vw - 16rem, 25.25%);
  grid-column: 1/-1;
  z-index: -4;
}

.work * {
  --background-color: var(--main-bright);
  --foreground-color: var(--main-dark);
}

.work {
  scroll-margin-top: 6rem;
  --background-color: var(--main-bright);
  --foreground-color: var(--main-dark);
  background-color: var(--background-color);
  color: var(--foreground-color);
  overflow-x: hidden;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.work h2 {
  margin-bottom: 0;
}

.project-gallery {
  height: 100vh;
  width: 300vw;
  display: flex;
  gap: calc(var(--gap-size) * 10);
  align-items: center;
}

.project-card {
  max-height: 70vh;
  max-width: calc(100vw - var(--gap-size) * 2);
  min-width: calc(100vw - var(--gap-size) * 2);
}

.project-card:first-of-type {
  margin-left: 16.8vw;
}

.proj-card-text {
  display: block;
  min-width: 100%;
  text-decoration: none;
}

.proj-card-title {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: var(--fontsize-c);
  margin-bottom: clamp(0.75rem, 1.5vw, 4.5rem);
  line-height: 1em;
}

.proj-card-title::after {
  display: inline-block;
  line-height: 0.5025em;
  font-size: 0.8em;
}

.proj-card-tag,
.proj-card-tag p {
  display: block;
}

.proj-card-tag {
  font-family: var(--primary-font);
  font-size: initial;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.proj-card-tag::before {
  content: "";
  display: block;
  border-top: 2px solid var(--main-dark);
  width: 4rem;
  margin-bottom: clamp(0.75rem, 1.5vw, 4.5rem);
}

.proj-card-img-wrapper {
  display: block;
  height: calc(60vh - 5rem);
  border-radius: var(--border-radius-unit);
  overflow: hidden;
  grid-row: 2/-1;
  grid-column: 1/-1;
}

.proj-card-img {
  max-height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: var(--border-radius-unit);
}

.about-wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--unit);
  flex-wrap: wrap;
}

.about-id-info {
  font-family: var(--tertiary-font);
  flex: 1 0 26%;
}

.about-text {
  flex: 1 1 60%;
  min-width: 29ch;
}

.about-synopsis {
  margin-bottom: calc(var(--unit) * 2);
}

.about-id-info p {
  display: block;
}

.about-name-last {
  white-space: nowrap;
}

.about-linkout {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding-block: 0.65rem 0.5rem;
  width: 100%;
  border-block: 2px solid var(--foreground-color);
}

.finds-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.finds-text {
  margin-bottom: var(--gap-size);
  flex: 1 1 25%;
  min-width: 22ch;
}

.finds-gallery {
  flex: 1 1 65%;
  margin: 0 auto;
  max-width: 35ch;
  display: grid;
  grid-template-columns: var(--grid-col-setup);
}

.find-card {
  display: block;
  text-decoration: none;
  padding: var(--unit);
  margin-bottom: calc(2 * var(--unit));
  border: var(--border-base);
  border-radius: calc(var(--unit) / 2);
  grid-column-end: span 11;
}

.find-card:nth-child(odd) {
  grid-column-start: 2;
}

.find-card:nth-child(even) {
  grid-column-start: 1;
}

.find-title {
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: var(--fontsize-d);
  line-height: 1.25em;
  margin-bottom: calc(1.5 * var(--gap-size));
}

.find-credit {
  display: inline-block;
  text-transform: uppercase;
}

.find-publisher::before {
  content: "– ";
}

.footer * {
  --background-color: var(--main-bright);
  --foreground-color: var(--main-dark);
}

.footer {
  --background-color: var(--main-bright);
  --foreground-color: var(--main-dark);
  background-color: var(--background-color);
  color: var(--foreground-color);
  padding: var(--unit);
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--gap-size);
}

.footer-id {
  flex: 1 0 80%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc(var(--unit) * 0.8);
}

.footer-fname,
.footer-lname,
.footer-id-email,
.footer-id-linkedin {
  text-decoration: none;
  display: inline-flex;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer-id-name,
.footer-id-linkedin {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer-id-email {
  display: inline-flex;
  flex-wrap: wrap;
}

.footer-id-email p {
  overflow-wrap: anywhere;
}

.footer-form-label,
.footer-colophon-blurb,
.marquee-txt {
  font-family: var(--tertiary-font);
  font-weight: 300;
}

.footer-form-label {
  display: inline-block;
  order: 2;
  margin-top: 0.15rem;
}
.footer-form-label + p {
  font-size: var(--fontsize-b);
  font-weight: 600;
  letter-spacing: -0.0155em;
  line-height: 1.125em;
  padding-bottom: 0.0625em;
  border-bottom: 2px solid var(--foreground-color);
}

.footer-colophon {
  line-height: 1.25;
  flex: 1 0 calc(14.8% - 5vw);
  min-width: 13.9ch;
  display: inline-flex;
  flex-direction: column;
  gap: var(--unit);
  justify-content: space-between;
}

@-webkit-keyframes marqueeAnim {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marqueeAnim {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.footer-bar {
  --background-color: var(--main-bright);
  --foreground-color: var(--main-dark);
  background-color: var(--background-color);
  color: var(--foreground-color);
  white-space: nowrap;
  border-block: 2px solid var(--foreground-color);
  overflow-x: hidden;
}

.marquee {
  display: inline-block;
  -webkit-animation: marqueeAnim 70s linear infinite;
          animation: marqueeAnim 70s linear infinite;
}

.footer-bar:hover > div {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.marquee-txt::after {
  content: "—";
  display: inline-block;
  padding: 1rem 2rem;
}

@media (min-width: 970px) {
  .no-scroll {
    overflow: auto;
  }
  .header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .logotype {
    position: static;
    pointer-events: auto;
  }
  .nav {
    position: static;
    top: initial;
    bottom: initial;
    right: initial;
    left: initial;
    pointer-events: auto;
    /* Lined List */
    width: 14.8%;
    min-width: 14ch;
  }
  .nav-wrapper {
    margin-bottom: 0;
  }
  .nav-wrapper::after {
    content: unset;
  }
  .nav-wrapper::before {
    content: unset;
  }
  .toggle-checkbox {
    overflow: auto;
  }
  .toggle-checkbox ~ .nav-wrapper .nav-item {
    -webkit-clip-path: none;
            clip-path: none;
    transform: translateY(0%);
    opacity: 1;
    pointer-events: initial;
  }
  .toggle-checkbox ~ .list-contain .nav-item {
    -webkit-clip-path: none;
            clip-path: none;
    opacity: 1;
    pointer-events: initial;
  }
  body:not(.no-scroll) .toggle-checkbox:not(:checked) ~ .nav-wrapper,
body:not(.no-scroll) .toggle-checkbox:not(:checked) ~ .nav-wrapper .nav-item a {
    pointer-events: initial;
  }
  .toggle-label {
    display: none;
  }
  .nav-item {
    opacity: 1;
  }
  .nav-item a {
    pointer-events: auto;
    display: block;
    transition: padding 100ms ease-out;
  }
  /* Lined nav */
  .nav-item {
    opacity: 1;
  }
  .nav-item a {
    pointer-events: auto;
    display: block;
    padding-block: unset;
    color: var(--foreground-color);
    border-bottom: none;
    transition: padding 100ms ease-out, backgound-color 100ms ease-out;
  }
  .nav-item a {
    padding-bottom: 0.28rem;
    display: flex;
    justify-content: space-between;
  }
  .nav-item a::after {
    content: "↗";
    display: inline-block;
    opacity: 0;
    margin-left: 0.5rem;
    font-family: var(--secondary-font);
    font-size: 1.525rem;
    font-weight: 300;
    line-height: 0.55;
    transition: opacity 100ms var(--primary-ease);
  }
  .nav-item a:hover {
    background-color: unset;
    color: var(--foreground-color);
    padding-left: 0;
  }
  .nav-item a:hover::after {
    opacity: 1;
  }
  .nav-item:not(:first-of-type) a {
    padding-top: 0.5rem;
    border-top: 2px solid var(--foreground-color);
  }
  .nav-item:last-of-type a {
    border-bottom: 2px solid var(--foreground-color);
  }
  .section {
    display: grid;
    grid-template-columns: var(--grid-col-setup);
    gap: var(--unit);
  }
  .work > h2 {
    grid-column: 3/-1;
  }
  .project-gallery {
    grid-column: 1/-1;
    width: 100%;
  }
  .project-card {
    min-width: 60vw;
    max-width: unset;
    width: 60vw;
    margin-top: 12vw;
    display: flex;
    flex-wrap: wrap;
  }
  .proj-card-tag {
    white-space: nowrap;
    margin-right: 2rem;
  }
  .proj-card-img-wrapper {
    height: 60vh;
    flex: 1 1 60%;
  }
  .about h2,
.about-wrapper {
    grid-column: 4/span 6;
  }
}/*# sourceMappingURL=style.css.map */