@use "_includes/fonts";
@use "_includes/reset";

:root {
	// Global Variables
	--primary-font: "PP Mori", Poppins, Helvetica, Arial, sans-serif;
	--secondary-font: "PP Editorial New", "Playfair Display", Cambria, Cochin,
		Georgia, Times, "Times New Roman", serif;
	--tertiary-font: "Dico Mono Script", "Courier New", Courier, monospace;

	// --main-bright: hsl(238, 42%, 88%);
	// --main-pensive: hsl(176, 69%, 18%);
	// --main-poder: hsl(216, 100%, 33%);
	// --main-vibing: hsl(286, 83%, 72%);
	// --main-alertness: hsl(3, 100%, 69%);
	// --main-disfruta: hsl(335, 100%, 73%);
	// --main-zesty: hsl(48, 100%, 72%);
	// --main-dark: hsl(240, 10%, 15%);
	// --secondary-dark: hsl(240, 11%, 9%);

	--rgb-bright: 212, 212, 237;
	--rgb-pensive: 14, 78, 73;
	--rgb-poder: 0, 67, 168;
	--rgb-vibing: 215, 124, 243;
	--rgb-alertness: 255, 105, 97;
	--rgb-disfruta: 255, 117, 175;
	--rgb-zesty: 255, 226, 112;
	--rgb-dark: 34, 34, 42;
	--rgb-secondary-dark: 20, 20, 24;

	// --hsl-bright: 238, 42%, 88%;
	// --hsl-pensive: 176, 69%, 18%;
	// --hsl-poder: 216, 100%, 33%;
	// --hsl-vibing: 282, 95%, 77%;
	// --hsl-alertness: 3, 100%, 69%;
	// --hsl-disfruta: 335, 100%, 73%;
	// --hsl-zesty: 48, 100%, 72%;
	// --hsl-dark: 240, 10%, 15%;
	// --hsl-secondary-dark: 240, 11%, 9%;

	--main-dark: rgba(var(--rgb-dark), 1);
	--main-bright: rgba(var(--rgb-bright), 1);

	--foreground-color: var(--main-bright);
	--background-color: var(--main-dark);

	// $foreground-color: $main-bright;
	// $background-color: $main-dark;

	--fontsize-base: clamp(16.5px, calc(8px + 1.5vw), 22px);
	// --fontsize-hero: clamp(2.175rem, 3.45vw, 10rem); //finesse this later
	--fontsize-hero: clamp(
		2.175rem,
		calc(11px + 4.25vw),
		10rem
	); //finesse this later
	--fontsize-b: clamp(3.25rem, 5.78vw, 7rem);
	--fontsize-c: clamp(2rem, 3.25vw, 2.7rem);
	--fontsize-d: clamp(1.75rem, 2.125vw, 2rem);

	--unit: var(--fontsize-base);
	--border-base: 2px solid var(--foreground-color);
	--border-radius-unit: 0.5rem;
	--primary-ease: cubic-bezier(0.6, 0.04, 0.98, 0.335);

	--line-translate-size: 250%;
	--label-size: 3rem;

	--section-block-padding: 7rem;
	--h2-space-below: 2rem;

	--grid-col-setup: repeat(12, 1fr);
	--gap-size: calc(var(--fontsize-base) * 1.75);

	--cubic-ease-in: cubic-bezier(0, 1, 0.75, 1);

	// Actual base settings
	font-size: var(--fontsize-base);
}

html {
	scroll-behavior: smooth;
}

::selection {
	background-color: var(--foreground-color);
	color: var(--background-color);
}

body {
	font-family: var(--primary-font);
	color: var(--foreground-color);
	background: var(--background-color);
	line-height: 1.6;
	letter-spacing: 0.0125em;
}

body::after {
	//noise bg
	content: "";
	display: block;
	z-index: 999999;
	position: fixed;
	top: 0;
	left: 0;
	// height: 100%;
	// width: 100%;
	height: 100%;
	width: 100%;
	transform-origin: 50% 50%;
	rotate: 1deg;
	scale: 1.19;
	pointer-events: none;
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj4KICAgIDxmaWx0ZXIgaWQ9Im5vaXNlIiB4PSIwIiB5PSIwIj4KICAgICAgPGZlVHVyYnVsZW5jZSB0eXBlPSJmcmFjdGFsTm9pc2UiIGJhc2VGcmVxdWVuY3k9IjAuNjUiIG51bU9jdGF2ZXM9IjMiIHN0aXRjaFRpbGVzPSJzdGl0Y2giLz4KICAgICAgPGZlQmxlbmQgbW9kZT0ic2NyZWVuIi8+CiAgICA8L2ZpbHRlcj4KICAgIDxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbm9pc2UpIiBvcGFjaXR5PSIwLjUiLz4KPC9zdmc+");
	mix-blend-mode: color-burn;
	filter: grayscale(90%) contrast(160%) brightness(100%);
	opacity: 0.35;
}

.header,
.section,
.footer {
	padding-inline: var(--unit);
}

a {
	// color: var(--foreground-color);
	color: inherit;
}

p {
	line-height: 1.5;
}

p,
.nav-item a,
.logotype a,
.job-title,
.about-linkout {
	font-size: 1rem;
}

.footer-form-label p {
	font-size: 1rem;
}

p:not([class], .footer-form-label ~ p) {
	margin-bottom: 1em;
}

.header {
	padding-top: calc(var(--unit));
}

.section:not(.section.hero-home) {
	position: relative;
	z-index: 1;
}

.section {
	min-height: 40vh;
	grid-template-columns: var(--grid-col-setup);
	gap: var(--gap-size);
}
// ***** Utilities ***** //

//nav mobile
.no-scroll {
	overflow: hidden;
}

//themes

.dark {
	--rgb-background-color: var(--rgb-dark);
	--rgb-foreground-color: var(--rgb-bright);
	--rgb-bgicon-color: rgba(var(--rgb-secondary-dark), 0.75);
}

.bright {
	--background-color: var(--main-bright);
	--foreground-color: var(--main-dark);
	--rgb-bgicon-color: rgba(var(--rgb-dark), 0.125);
}

.pensive {
	--main-pensive: rgba(var(--rgb-pensive), 1);
	--background-color: var(--main-pensive);
	--rgb-background-color: var(--rgb-pensive);
	--foreground-color: var(--main-bright);
	--rgb-bgicon-color: rgba(var(--rgb-bright), 0.125);
}

.poder {
	--main-poder: rgba(var(--rgb-poder), 1);
	--background-color: var(--main-poder);
	--rgb-background-color: var(--rgb-poder);
	--foreground-color: var(--main-bright);
	--rgb-bgicon-color: rgba(var(--rgb-bright), 0.125);
}

.vibing {
	--main-vibing: rgba(var(--rgb-vibing), 1);
	--background-color: var(--main-vibing);
	--rgb-background-color: var(--rgb-vibing);
	--foreground-color: var(--main-dark);
	--rgb-bgicon-color: rgba(var(--rgb-dark), 0.125);
}

.alertness {
	--main-alertness: rgba(var(--rgb-alertness), 1);
	--background-color: var(--main-alertness);
	--rgb-background-color: var(--rgb-alertness);
	--foreground-color: var(--main-dark);
	--rgb-bgicon-color: rgba(var(--rgb-dark), 0.125);
}

.disfruta {
	--main-disfruta: rgba(var(--rgb-disfruta), 1);
	--background-color: var(--main-disfruta);
	--rgb-background-color: var(--rgb-disfruta);
	--foreground-color: var(--main-dark);
	--rgb-bgicon-color: rgba(var(--rgb-dark), 0.125);
}

.zesty {
	--main-zesty: rgba(var(--rgb-zesty), 1);
	--background-color: var(--main-zesty);
	--rgb-background-color: var(--rgb-zesty);
	--foreground-color: var(--main-dark);
	--rgb-bgicon-color: rgba(var(--rgb-dark), 0.125);
}

// project page image spans

.quarter {
	grid-column-end: span 4;
}

.half {
	grid-column-end: span 6;
}

.twothirds {
	grid-column-end: span 8;
}

.end {
	grid-column-end: -1;
}

.col1 {
	grid-column-start: 1;
}

.col2 {
	grid-column-start: 2;
}

.col3 {
	grid-column-start: 3;
}

.col4 {
	grid-column-start: 4;
}

.col5 {
	grid-column-start: 5;
}

.col6 {
	grid-column-start: 6;
}

.col7 {
	grid-column-start: 7;
}

.col8 {
	grid-column-start: 8;
}

.col9 {
	grid-column-start: 9;
}

.row2 {
	grid-row-start: 2;
}

.row2 {
	grid-row-start: 2;
}

.row2 {
	grid-row-start: 2;
}

.row2 {
	grid-row-start: 2;
}

//cursor
#cursor {
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	pointer-events: none;
	will-change: transform;
	mix-blend-mode: difference;
	// for slow loading, will be toggled by GSAP or noscript tag
	// visibility: hidden;
}

@media (hover: hover) and (pointer: fine) {
	.cursor__circle {
		width: 64px;
		height: 64px;
		margin-top: -50%;
		margin-left: -50%;
		border-radius: 50%;
		border: solid 3px var(--foreground-color);
		// background-color: var(--background-color);
		transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
			background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
			border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
			width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
			height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
	}
	#cursor.arrow .cursor__circle {
		width: 128px;
		height: 128px;
		// background-color: var(--background-color);
		border-color: var(--foreground-color);
	}
	// #cursor.arrow {
	// 	background-color: none;
	// }
	#cursor.arrow::after {
		content: "";
		position: absolute;
		left: -50%;
		top: -50%;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
	}
	#cursor.subtle .cursor__circle {
		opacity: 0.16;
	}
	#cursor.overlay .cursor__circle {
		width: 48px;
		height: 48px;
		background-color: var(--main-vibing);
	}
}

.container {
	visibility: hidden;
}

.main {
	position: relative;
	grid-column: 1/ -1;
	grid-row: 1 / -1;
}

// ***** Header ***** //

@keyframes fade-in {
	0% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}

.header {
	position: sticky;
	z-index: 100;
	pointer-events: none;
	top: 0;
	left: 0;
}

.header,
.header * {
	transition: all 300ms ease;
}

// ** NAV ** //

.logotype {
	display: block;
	font-size: var(--fontsize-base);
	transition: all 300ms ease;
	color: rgba(var(--rgb-foreground-color), 1);
}

.logotype a,
.nav-item a {
	text-transform: uppercase;
	pointer-events: initial;
}

.logotype a {
	font-weight: 600;
	position: relative;
	display: inline-block;
	top: 0;
	transition: all 300ms ease;
	white-space: nowrap;
}

.logotype a::after {
	// blurring effect bg
	content: "";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
	opacity: 1;
	// background-color: rgba(var(--rgb-background-color), 0.75);
	width: 100vw;
	height: 3rem;
	background: rgb(var(--rgb-background-color), 0.75);
	backdrop-filter: blur(10px);
	transition: clip-path 300ms ease, top 100ms ease;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.logotype-leave {
	color: rgba(var(--rgb-foreground-color), 0);
	& a {
		top: -3rem;
	}
	& a::after {
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
}

.nav {
	position: fixed;
	bottom: var(--unit);
	right: var(--unit);
	left: var(--unit);
	width: auto;
	z-index: 100;
	// solving passing event through div
	pointer-events: none;
}

.nav-wrapper {
	margin-bottom: calc(var(--unit) * 1.5);
	transition-property: transform, clip-path, translateY, opacity;
	:nth-child(1) {
		transition-property: inherit;
		transition-delay: 100ms;
		transition-property: transform, clip-path, translateY, opacity;
	}

	:nth-child(2) {
		transition-property: inherit;
		transition-delay: 200ms;
		transition-property: transform, clip-path, translateY, opacity;
	}

	:nth-child(3) {
		transition-property: inherit;
		transition-delay: 300ms;
		transition-property: transform, clip-path, translateY, opacity;
	}

	:nth-child(4) {
		transition-property: inherit;
		transition-delay: 400ms;
		transition-property: transform, clip-path, translateY, opacity;
	}
}

.nav-wrapper::after {
	// the dimming of the background
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	// background-color: var(--background-color);
	// initial opac on default state of input-checkbox
	opacity: 0%;
	// take up screen behind nav
	position: fixed;
	top: 0;
	left: 0;
	z-index: -15;
	backdrop-filter: blur(8px);
	transition: opacity 300ms ease-in;
}

.nav-wrapper::before {
	// the dimming of the background
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
	// initial opac on default state of input-checkbox
	opacity: 0;
	// take up screen behind nav
	position: fixed;
	top: 0;
	left: 0;
	z-index: -5;
	transition: opacity 300ms ease-in;
}

.toggle-checkbox:checked + .nav-wrapper::after {
	opacity: 1;
}

.toggle-checkbox:checked + .nav-wrapper::before {
	opacity: 0.85;
}

.toggle-checkbox {
	display: none;
	overflow: hidden;
}

.toggle-checkbox:checked ~ .nav-wrapper .nav-item {
	// clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	transform: translateY(0%);
	opacity: 1;
	pointer-events: initial;
}

.toggle-checkbox:checked ~ .list-contain {
	.nav-item {
		// clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		opacity: 1;
		pointer-events: initial;
	}
}

.toggle-label {
	pointer-events: auto;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.75rem 0.75rem 0.75rem 0.74rem;
	background: var(--background-color);
	border: 2px solid var(--foreground-color);
	width: var(--label-size);
	height: var(--label-size);
	border-radius: 0.5rem;
	// left, right, or center menu icon within entire wrapper with margin
	margin-left: auto;
	// to fix layering
	position: relative;
	z-index: 100;
}

.toggle-icon,
.toggle-icon::before,
.toggle-icon::after {
	display: block;
	background: var(--foreground-color);
	width: 100%;
	height: 2px;
	position: relative;
	transition: transform 300ms ease-in-out;
}

.toggle-icon {
	top: 0.05rem;
}

.toggle-icon::before,
.toggle-icon::after {
	content: "";
	position: absolute;
}

.toggle-icon::before {
	top: 0.5rem;
}

.toggle-icon::after {
	bottom: 0.5rem;
}

.toggle-checkbox:checked ~ .toggle-label {
	.toggle-icon {
		transform: translateX(var(--line-translate-size));

		&:before {
			transform: translate(calc(-1 * var(--line-translate-size)), -0.5rem)
				rotate(-45deg);
		}

		&:after {
			transform: translate(calc(-1 * var(--line-translate-size)), 0.47rem)
				rotate(45deg);
		}
	}
}

body:not(.no-scroll) .toggle-checkbox:not(:checked) ~ .nav-wrapper,
body:not(.no-scroll) .toggle-checkbox:not(:checked) ~ .nav-wrapper .nav-item a {
	pointer-events: none;
}

body.no-scroll .toggle-checkbox:checked ~ .nav-wrapper,
body.no-scroll .toggle-checkbox:checked ~ .nav-wrapper .nav-item a {
	pointer-events: auto;
}

/* Lined List */
.nav-item {
	text-transform: uppercase;
	transform: translateY(40%);
	opacity: 0;
	transition: transform 300ms cubic-bezier(0, 0.75, 0.25, 1);
}

.nav-item a {
	pointer-events: auto;
	display: block;
	padding-block: 0.85rem 0.5rem;
	color: var(--foreground-color);
	border-bottom: 2px solid var(--foreground-color);

	transition: padding 100ms ease-out, backgound-color 100ms ease-out;
}
.nav-item a:hover {
	background-color: var(--foreground-color);
	color: var(--background-color);
	padding-left: 0.5rem;
}

// ***** Main Content ***** //

img {
	width: 100%;
	height: 100%;
}

h2 {
	font-family: var(--primary-font);
	// font-size: var(--fontsize-b);
	font-size: var(--fontsize-hero);
	font-weight: 600;
	line-height: 1;
	letter-spacing: -0.025em;
	// text-transform: uppercase;
	margin-bottom: var(--h2-space-below);
}

.section {
	padding-block: var(--section-block-padding);
	grid-template-columns: var(--grid-col-setup);
}

// ** HOME - HERO ** //

// bg icon

.background-icon {
	position: fixed;
	width: 100%;
	height: 100vh;
	left: 0;
	display: flex;
	align-items: center;
	z-index: -10;
	justify-content: center;
}

.polygon-icon {
	position: absolute;
	fill: var(--rgb-bgicon-color);
	width: 83.5%;
	left: -22%;
	bottom: -73.375%;
}

// hero home

.hero-home {
	padding-top: 1rem;
	min-height: 100vh;
	padding-block: unset;
	// padding-bottom: calc(var(--unit) * 2);
	// padding-bottom: calc(5 * var(--section-block-padding));
	display: grid;
	grid-template-columns: var(--grid-col-setup);
	grid-template-rows: 1fr max-content;
	gap: var(--gap-size);
	// align-items: end;
	// position: sticky;
	// top: 0;
}

.job-title {
	grid-column: 1 / -1;
	// padding-left: clamp(0%, calc(54vw - 16rem), 25.25%);
	// padding-left: clamp(0%, calc(65vw - 16rem), 50.25%);
	padding-top: calc(var(--unit) * 2.52);
	width: 14ch;
	text-transform: uppercase;
	line-height: 1rem;
	letter-spacing: 0.035em;
	align-self: start;
	z-index: 100;
}

.hero-text {
	font-size: var(--fontsize-hero);
	letter-spacing: -0.0225em;
	align-self: end;
	line-height: 1.1em;
	font-family: var(--primary-font);
	font-weight: 600;
	text-transform: uppercase;
	margin-left: clamp(0%, calc(54vw - 16rem), 25.25%);
	margin-top: -0.1em;
	grid-column: 1 / -1;
	z-index: -4;
	transition: none;
}

// ** HOME - PROJECT ** //

.work {
	// background: var(--foreground-color);
	// color: var(--background-color);
	scroll-margin-top: 0;
	// padding-inline: 0;
	overflow-x: hidden;
	// width: 100vw;
	max-width: 100%;
	border-radius: 0.5rem 0.5rem 0 0;
}

.pin-spacer {
	max-width: 100vw;
}

.work h2 {
	margin-bottom: 0;
	// padding-left: var(--unit);
	padding-block: 6rem 9rem;
}

.project-gallery {
	// height: 100vh;
	// width: max-content;
	// padding-block: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-card {
	// height: 100vh;
	// max-width: 100vw;
	width: 100%;
	margin-block: calc(0.5 * var(--section-block-padding));
	// padding-inline: var(--gap-size);
	// padding-top: 18vh;
	// flex-shrink: 0;
	// flex-basis: 100vw;
}

.proj-card-text {
	display: block;
	min-width: 100%;
	text-decoration: none;
}

.proj-card-title {
	font-family: var(--secondary-font);
	font-weight: 300;
	font-size: var(--fontsize-c);
	margin-bottom: clamp(0.75rem, 1.5vw, 4.5rem);
	line-height: 1em;
}

.proj-card-title::after {
	// content: "Web Design";
	display: inline-block;
	line-height: 0.5025em;
	font-size: 0.8em;
	// align-self: flex-end;
}

.proj-card-tag,
.proj-card-tag p {
	display: block;
}

.proj-card-tag {
	font-family: var(--primary-font);
	font-size: inherit;
	text-align: right;
	text-transform: uppercase;
	margin-top: 0.9em;
	// margin-bottom: 1.5rem;
}

.proj-card-tag::before {
	// content: "";
	display: block;
	border-top: 2px solid var(--foreground-color);
	width: 4rem;
	margin-bottom: clamp(0.75rem, 1.5vw, 4.5rem);
}

.proj-card-img-wrapper {
	display: block;
	max-width: 100%;
	aspect-ratio: 10 / 5.75;
	// height: calc(60vh - 5rem);
	border-radius: var(--border-radius-unit);
	overflow: hidden;
	grid-row: 2 / -1;
	grid-column: 1 / -1;
}

.proj-card-img {
	max-width: 100%;
	max-height: 60vh;
	object-fit: cover;
	object-position: center;
	border-radius: var(--border-radius-unit);
}

// ** HOME - ABOUT ** //

.about-wrapper {
	display: flex;
	flex-direction: row;
	gap: var(--gap-size);
	flex-wrap: wrap;
}

.about-id-info {
	font-family: var(--tertiary-font);
	// margin-bottom: calc(var(--unit) * 2);
	flex: 1 0 26%;
}

.about-headers {
	flex: 1 0 45%;
}

.about-text {
	// flex: 1 1 60%;
	min-width: 29ch;
	flex: 1 0 45%;
}

.about-synopsis {
	margin-bottom: calc(var(--unit) * 2);
}

.about-id-info p {
	display: block;
}

.about-name-last {
	white-space: nowrap;
}

.about-linkout {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding-block: 0.65rem 0.5rem;
	width: 100%;
	border-block: 2px solid var(--foreground-color);
}

// ** HOME - FINDS ** //

.finds-wrapper {
	display: flex;
	flex-wrap: wrap;
	column-gap: var(--gap-size);
}

.finds-text {
	margin-bottom: var(--gap-size);
	flex: 1 1 25%;
	min-width: 22ch;
}

.finds-gallery {
	flex: 1 1 65%;
	margin: 0 auto;
	max-width: 35ch;
	display: grid;
	grid-template-columns: var(--grid-col-setup);
}

.find-card {
	display: block;
	text-decoration: none;
	padding: var(--unit);
	margin-bottom: calc(2 * var(--unit));
	border: 2px solid var(--foreground-color);
	border-radius: calc(var(--unit) / 2);
	grid-column-end: span 11;
	transition: all 150ms ease-in-out;
}

.find-card:hover {
	color: var(--background-color);
	background: var(--foreground-color);
}

.find-card:nth-child(odd) {
	grid-column-start: 2;
}

.find-card:nth-child(even) {
	grid-column-start: 1;
}

.find-title {
	font-family: var(--secondary-font);
	font-weight: 300;
	font-size: var(--fontsize-d);
	line-height: 1.25em;
	margin-bottom: calc(1.5 * var(--gap-size));
}

.find-credit {
	display: inline-block;
	text-transform: uppercase;
}

.find-publisher::before {
	content: "\2013  ";
}

// ***** Footer ***** //

.footer {
	background-color: var(--foreground-color);
	color: var(--background-color);
	padding: var(--unit);
	border-radius: 0.5rem 0.5rem 0 0;
	// For side colophon
	display: flex;
	flex-wrap: wrap;
	row-gap: var(--gap-size);
}

.footer-id {
	flex: 1 0 80%;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: calc(var(--unit) * 0.8);
	column-gap: calc(var(--unit) * 1.5);
	// margin-bottom: var(--gap-size);
}

.footer-fname,
.footer-lname,
.footer-id-email,
.footer-id-linkedin {
	text-decoration: none;
	display: inline-flex;
	flex-direction: column;
	width: fit-content;
}

.footer-id-name,
.footer-id-linkedin {
	width: fit-content;
}

.footer-id-email {
	display: inline-flex;
	flex-wrap: wrap;
}

.footer-id-email p {
	overflow-wrap: anywhere;
}

.footer-form-label,
.footer-colophon-blurb,
.marquee-txt {
	font-size: inherit;
	font-family: var(--tertiary-font);
	font-weight: 300;
}

.footer-form-label {
	display: inline-block;
	order: 2;
	margin-top: 0.05rem;
	& + p {
		font-size: var(--fontsize-b);
		font-weight: 600;
		letter-spacing: -0.0155em;
		line-height: 1.35em;
		// padding-bottom: 0.00325em;
		// border-bottom: 2px solid var(--background-color);
		// padding-bottom: 0.1325rem;
		text-decoration: underline;
		text-underline-offset: 0.29em;
		text-decoration-thickness: 1.3px;

		// &:hover {
		// 	text-decoration-style: wavy;
		// }
	}
}

.footer-colophon {
	flex: 1 0 calc(14.8% - 5vw);
	min-width: 13.9ch;
	// max-width: 21ch;
	display: inline-flex;
	flex-direction: column;
	gap: var(--unit);
	justify-content: space-between;
}

.footer-colophon-blurb {
	line-height: 1.25;
}

// Footer Bar

@keyframes marqueeAnim {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-100%);
	}
}

.footer-bar {
	grid-column: 1/-1;
	background-color: var(--foreground-color);
	color: var(--background-color);
	white-space: nowrap;
	border-block: 2px solid var(--background-color);
	overflow-x: hidden;
}

.marquee {
	display: inline-block;
	animation: marqueeAnim 70s linear infinite;
}

.footer-bar:hover > div {
	animation-play-state: paused;
}

.marquee-txt::after {
	content: "\2014";
	display: inline-block;
	padding: 1rem 2rem;
}

.footer-bar::after {
	content: "";
	display: block;
	height: 4rem;
	width: 100%;
	background-color: (--foreground-color);
}

// ***** Indiv Project Page ***** //

.p-hero-title,
.p-cover-img-wrapper,
.p-prompt,
.p-summary,
.p-pagination,
.p-pagination {
	grid-column: 1 / -1;
}

.hero-project {
	min-height: 75vh;
	padding-top: var(--unit);
	padding-bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.p-hero-title {
	padding-bottom: var(--unit);
	margin-bottom: 0;
	font-weight: 300;
	order: 2;
}

.p-hero-tags {
	font-size: 1.125rem;
	display: inline-block;
	font-family: var(--secondary-font);
	margin-right: 38%;
}

.p-tag {
	margin-right: 0.5em;
	display: inline-flex;
	&::after {
		content: "_";
	}
}

.p-cover {
	padding-block: var(--unit);
}

.p-cover-img-wrapper {
	grid-column: 1 / -1;
}

.p-prompt,
.p-summary {
	display: block;
}

.p-prompt {
	font-size: calc(var(--fontsize-c) * 1);
	font-family: var(--secondary-font);
	font-weight: 300;
	line-height: 1.3em;
	margin-bottom: calc(2 * clamp(0.75rem, 1.5vw, 4.5rem));
	min-width: 65.5%;
	// width: clamp(0%, calc(82vw - 15rem), 100%);
	// margin-inline: clamp(0%, calc(31vw - 10rem), 17%);
	margin-left: clamp(0%, calc(2 * calc(31vw - 10rem)), calc(2 * 17%));
	// margin-inline: auto;
}

.p-summary {
	// margin-inline: clamp(
	// 		0%,
	// 		calc((59.95vw - 15rem) + calc(31vw - 10rem)),
	// 		calc(42.575% + 17%)
	// 	)
	// 	clamp(0%, calc(0.5 * calc(31vw - 10rem)), calc(25.5% - 17%));
	margin-inline: clamp(0%, calc(2 * calc(31vw - 10rem)), calc(2 * 17%));
}

.p-summary::before {
	content: "";
	display: block;
	border-top: 2px solid var(--foreground-color);
	width: 4rem;
	margin-bottom: calc(2 * clamp(0.75rem, 1.5vw, 4.5rem));
}

.proj-card-img-wrapper,
.p-cover-img-wrapper,
.p-outcome-img-wrapper {
	transform: translate(0);
	// filter: drop-shadow(0 0.5rem 0.75rem rgb(0, 0, 0, 0.6125));
	box-shadow: 0 0.5rem 0.75rem rgb(0, 0, 0, 0.0625);
}

.p-outcomes {
	gap: 1rem;
}

.p-cover-img-wrapper,
.p-outcome-img-wrapper {
	overflow: hidden;
	border-radius: 0.5rem;
}

.p-outcome-img-wrapper {
	margin-bottom: 1em;
}

// Pagination

.p-more {
	display: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1rem;
}

.p-more,
.p-pagination-wrapper {
	grid-column: 1 / -1;
}

.p-pagination-wrapper {
	grid-column: 4 / span 6;
	display: flex;
	column-gap: var(--unit);
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 0;
	// margin-inline: clamp(0%, calc(38vw - 10rem), 25.5%);
}

.p-prev-wrapper,
.p-next-wrapper,
.p-more-item {
	display: block;
}

// Both

.paginate-label {
	font-family: var(--secondary-font);
	font-size: calc(var(--fontsize-c) * 1);
	display: flex;
}

.p-more-item {
	text-decoration: none;
}

// Prev

.p-prev-wrapper {
	order: 1;
	text-align: right;
	padding-block: 1rem;
	flex: 1 1 30%;
	min-width: 30%;
	min-width: 14ch;
	max-width: max-content;
}

.p-prev-wrapper .paginate-label {
	display: flex;
	justify-content: space-between;
}

.p-prev-wrapper .p-paginate-proj::before {
	content: "← ";
	display: inline-block;
}

// Next

.p-next-wrapper {
	order: 2;
	flex: 2 2 66%;
	min-width: 66%;
}

.p-next-wrapper .p-more-item {
	border: 2px solid var(--foreground-color);
	border-radius: 0.5rem;
	padding: 1rem;
	transition: all 150ms ease-in-out;
	&:hover {
		color: var(--background-color);
		background-color: var(--foreground-color);
	}

	& .paginate-label {
		display: flex;
		justify-content: space-between;
	}
}

// .p-next-wrapper .paginate-label {
// 	justify-self: space-between;
// }

.p-next-wrapper .paginate-label::after {
	content: "→";
	display: inline-block;
}

.p-next-wrapper:empty {
	border: unset;
	border-radius: unset;
	border-left: 2px solid var(--foreground-color);
}

// ***** Desktop ***** //

@media (min-width: 980px) {
	// Utilities
	.no-scroll {
		overflow: auto;
	}

	// .container {
	// 	display: grid;
	// 	grid-template-columns: repeat(12, 1fr);
	// 	grid-auto-rows: auto;
	// 	// position: relative;
	// 	// overflow: auto;
	// }

	// .polygon-icon {
	// 	width: calc(38.5% + 10vmax);
	// 	// width: 48vmax;
	// 	// width: clamp(48vmax, 75%, calc(70% + calc(100vh - 76.5vw)));
	// }

	// ***** Header ***** //

	.header {
		// mix-blend-mode: difference;
		width: 100%;
		// position: static;
		// height: 100%;
		display: grid;
		grid-template-columns: var(--grid-col-setup);
		gap: var(--gap-size);
		position: fixed;
	}

	.logotype {
		// position: static;
		display: block;
		grid-column: 1 / span 3;
		pointer-events: auto;
		/* TEST HERE - testing sticky fixed nav */
		// position: sticky;
		// top: 1rem;
		// border: 1px solid cyan;
	}

	// ** NAV ** //

	.nav {
		position: static;
		top: initial;
		bottom: initial;
		right: initial;
		left: initial;
		pointer-events: auto;
		//
		grid-column: 7 / -1;
		display: grid;
		transition: top 300ms ease;
		/* Lined List */
		// width: 14.8%;
		// width: auto;
		// min-width: 15ch;
		// TEST HERE
		// outline: 1px solid red;
		// position: sticky;
		// top: 1rem;
		// margin-top: calc(100vh - 4rem);
		// margin-left: clamp(0%, calc(54vw - 16rem), 25.25%);
	}

	.nav-wrapper {
		// margin-top: 0.25rem;
		margin-bottom: 0;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: var(--gap-size);
		// TEST HERE
		position: relative;
	}

	.nav-wrapper::after {
		content: "◆";
		height: 1em;
		width: 1em;
		justify-self: end;
		position: relative;
		grid-column: -2 / -1;
		grid-row: 1 / 2;
		color: var(--foreground-color);
		opacity: 1;
		line-height: 1;
		text-align: right;
		z-index: 90;
		// testing ornament position
		// position: fixed;
		// inset: var(--unit) var(--unit) auto auto;
	}

	.nav-wrapper::before {
		content: unset;
	}

	.toggle-checkbox {
		overflow: auto;
	}

	.toggle-checkbox ~ .nav-wrapper .nav-item {
		clip-path: none;
		transform: translateY(0%);
		opacity: 1;
		pointer-events: initial;
	}

	.toggle-checkbox ~ .list-contain {
		.nav-item {
			clip-path: none;
			opacity: 1;
			pointer-events: initial;
		}
	}

	body:not(.no-scroll) .toggle-checkbox:not(:checked) ~ .nav-wrapper,
	body:not(.no-scroll)
		.toggle-checkbox:not(:checked)
		~ .nav-wrapper
		.nav-item
		a {
		pointer-events: initial;
	}

	.toggle-label {
		display: none;
	}

	.nav-item {
		opacity: 1;
		grid-column-end: span 2;
	}

	.nav-item:last-of-type {
		grid-column: -3 / -1;
		grid-row: 1 / 2;
	}

	.nav-item a {
		pointer-events: auto;
		display: inline-block;
		transition: padding 100ms ease-out;
		min-width: max-content;
	}
	.nav .nav-item a {
		position: relative;
		top: 0;
		transition: top 300ms ease;
	}

	.logotype-leave ~ .nav .nav-item a {
		transition: top 300ms ease;
		top: -3rem;
	}

	/* Lined nav */

	.nav-item {
		opacity: 1;
	}

	.nav-item a {
		pointer-events: auto;
		display: inline-block;
		padding-block: unset;
		color: var(--foreground-color);
		border-bottom: none;
		transition: padding 100ms ease-out, backgound-color 100ms ease-out;
		padding-bottom: 0.24rem;
		// set icon on hover to the end
		// display: flex;
		// justify-content: space-between;
	}

	.nav-item a::after {
		content: "↝";
		display: inline-block;
		opacity: 0;
		margin-left: 0.125rem;
		font-family: var(--secondary-font);
		font-size: 1.3rem;
		font-weight: 300;
		line-height: 0.7125;
		position: relative;
		top: 0.065rem;
		transition: opacity 100ms var(--primary-ease);
	}

	.nav-item:first-of-type a::after,
	.nav-item:last-of-type a::after {
		content: "↴";
		top: -0.115rem;
	}

	.nav-item a:hover {
		background-color: unset;
		color: var(--foreground-color);
		padding-left: 0;
	}
	.nav-item a:hover::after {
		opacity: 1;
	}
	// .nav-item:not(:first-of-type) a {
	// 	// padding-top: 0.35rem;
	// 	// border-top: 2px solid var(--foreground-color);
	// }
	// .nav-item:last-of-type a {
	// 	// border-bottom: 2px solid var(--foreground-color);
	// }

	// ***** Main Content ***** //

	.section {
		display: grid;
		grid-template-columns: var(--grid-col-setup);
		gap: var(--gap-size);
	}

	// ** HOME - PROJECT ** //
	// .work {

	// }

	.work > h2 {
		grid-column: 7 / -1;
	}

	.project-gallery {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: var(--grid-col-setup);
		gap: var(--gap-size);
	}

	// .project-card {
	// 	// margin-top: auto;
	// 	// display: flex;
	// 	// flex-wrap: wrap;
	// 	// padding-inline: 18.75vw;
	// }

	.proj-card-text {
		align-self: flex-end;
	}

	.proj-card-tag {
		text-align: right;
		white-space: nowrap;
		// margin-right: 2rem;
	}

	.proj-card-img-wrapper {
		// height: 60vh;
		flex: 1 1 60%;
	}

	// ** HOME - ABOUT ** //

	.about h2,
	.about-wrapper {
		grid-column: 3 / span 8;
	}

	// ** HOME - FINDS ** //

	.finds {
		margin: 0 auto;
		width: 64%;
		padding-inline: 0;
		gap: var(--gap-size);
		// grid-template-columns: repeat(8, 1fr);
	}

	.finds h2,
	.finds-wrapper {
		grid-column: 1 / -1;
		//testing alternate
	}

	.finds-wrapper {
		position: relative;
		margin-bottom: calc(var(--section-block-padding) * 2);
	}

	.finds-text {
		height: fit-content;
		position: sticky;
		top: var(--section-block-padding);
	}

	.finds-gallery {
		margin: unset;
		max-width: unset;
		grid-template-columns: repeat(6, 1fr);
		gap: inherit;
	}

	.find-card {
		background-color: var(--background-color);
		&:last-of-type {
			margin-bottom: calc(var(--section-block-padding));
		}
	}

	.find-card:first-of-type {
		grid-column: 2 / span 3;
	}
	.find-card:nth-child(2) {
		grid-column: 4 / span 3;
	}

	.find-card:last-of-type {
		grid-column: 1 / span 3;
	}

	// *** Footer Bar *** //

	.footer {
		grid-column: 1 / -1;
	}

	.footer-bar::after {
		content: none;
	}

	// ***** Indiv Proj Pages ***** //
	.hero-project {
		display: flex;
		flex-direction: row;
		align-items: end;
	}

	.p-hero-title {
		align-self: end;
		flex: 10 10 75%;
	}
	.p-hero-tags {
		order: 2;
		margin-right: 0;
		flex: 2 1 13.67%;
		// // margin-left: 49.6125vw;
		// width: clamp(1ch, 15.1%, 15vw);
		min-width: 17.25ch;
		margin-right: 0%;
	}

	.p-text {
		display: block;
	}

	.p-outcomes {
		row-gap: 1rem;
	}

	.p-outcome-img-wrapper {
		margin-bottom: 0;
	}
}
