@use "_includes/fonts";
@use "_includes/reset";

* {
	// Global Variables
	--primary-font: "Neuething Sans Semi-expanded", Poppins, Helvetica, Arial,
		sans-serif;
	--secondary-font: "PP Editorial New", "Playfair Display", Cambria, Cochin,
		Georgia, Times, "Times New Roman", serif;
	--tertiary-font: "Dico Mono Script", "Courier New", Courier, monospace;

	--main-bright: hsla(238, 42%, 88%);
	--main-pensive: hsla(176, 69%, 18%);
	--main-poder: hsla(216, 100%, 33%);
	--main-vibing: hsla(268, 95%, 77%);
	--main-alertness: hsla(3, 100%, 69%);
	--main-disfruta: hsla(335, 100%, 73%);
	--main-zesty: hsla(48, 100%, 72%);
	--main-dark: hsla(240, 8%, 22%);

	--foreground-color: var(--main-bright);
	--background-color: var(--main-dark);

	--fontsize-base: clamp(16.5px, calc(8px + 1.5vw), 22px);
	// --fontsize-hero: clamp(2.175rem, 3.45vw, 10rem); //finesse this later
	--fontsize-hero: clamp(
		2.175rem,
		calc(8px + 2.95vw),
		10rem
	); //finesse this later
	--fontsize-b: clamp(2.55rem, 5.78vw, 7rem);
	--fontsize-c: clamp(1.75rem, 3.8vw, 3.6rem);

	--unit: var(--fontsize-base);
	--border-base: 2px solid var(--foreground-color);
	--border-radius-unit: 0.5rem;
	--primary-ease: cubic-bezier(0.6, 0.04, 0.98, 0.335);

	--line-translate-size: 250%;
	--label-size: 3rem;

	--section-block-padding: 6rem;
	--h2-space-below: 5.5rem;

	--grid-col-setup: repeat(12, 1fr);

	--proj-card-height: calc(38vh + 18vw);
	// Actual base settings
	font-size: var(--fontsize-base);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--primary-font);
	color: var(--foreground-color);
	background: var(--background-color);
	line-height: 1.6;
	letter-spacing: 0.025em;
}

.header,
.section,
.footer {
	padding-inline: var(--unit);
}

.header {
	padding-top: calc(var(--unit) + 0.3rem);
}

.section {
	min-height: 40vh;
}
// Utilities

.no-scroll {
	overflow: hidden;
}

// ***** Header ***** //

.logotype {
	position: fixed;
	mix-blend-mode: difference;
}

// ** NAV ** //

.logotype a,
.nav-item a {
	text-transform: uppercase;
}

.nav {
	position: fixed;
	bottom: var(--unit);
	right: var(--unit);
	left: var(--unit);
	width: auto;
	pointer-events: none;
}

.nav-wrapper {
	pointer-events: none;
	margin-bottom: calc(var(--unit) * 1.5);
	:nth-child(1) {
		transition-delay: 100ms;
	}

	:nth-child(2) {
		transition-delay: 200ms;
	}

	:nth-child(3) {
		transition-delay: 300ms;
	}

	:nth-child(4) {
		transition-delay: 400ms;
	}
}

.nav-wrapper::after {
	// the dimming of the background
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	// background-color: var(--background-color);
	// initial opac on default state of input-checkbox
	opacity: 0;
	// take up screen behind nav
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
	backdrop-filter: blur(10px);
	pointer-events: none;
	transition: 300ms ease-in;
}

.nav-wrapper::before {
	// the dimming of the background
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
	// initial opac on default state of input-checkbox
	opacity: 0;
	// take up screen behind nav
	position: fixed;
	top: 0;
	left: 0;
	z-index: -5;
	pointer-events: none;
	transition: 300ms ease-in;
}

.toggle-checkbox:checked + .nav-wrapper::after {
	opacity: 1;
}

.toggle-checkbox:checked + .nav-wrapper::before {
	opacity: 0.9;
	// background-color: pink;
}

.toggle-checkbox {
	display: none;
	overflow: hidden;
}

.toggle-checkbox:checked ~ .nav-wrapper .nav-item {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	transform: translateY(0%);
	opacity: 1;
	pointer-events: initial;
}

.toggle-checkbox:checked ~ .list-contain {
	.nav-item {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		opacity: 1;
		pointer-events: initial;
	}
}

.toggle-label {
	pointer-events: auto;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.75rem 0.75rem 0.75rem 0.74rem;
	background: var(--background-color);
	border: 2px solid var(--foreground-color);
	width: var(--label-size);
	height: var(--label-size);
	border-radius: 0.5rem;
	// left, right, or center menu icon within entire wrapper with margin
	margin-left: auto;
	// to fix layering
	position: relative;
	z-index: 100;
}

.toggle-icon,
.toggle-icon::before,
.toggle-icon::after {
	display: block;
	background: var(--foreground-color);
	width: 100%;
	height: 2px;
	position: relative;
	transition: transform 300ms ease-in-out;
}

.toggle-icon {
	top: 0.05rem;
}

.toggle-icon::before,
.toggle-icon::after {
	content: "";
	position: absolute;
}

.toggle-icon::before {
	top: 0.5rem;
}

.toggle-icon::after {
	bottom: 0.5rem;
}

.toggle-checkbox:checked ~ .toggle-label {
	// background: $main-dark;

	.toggle-icon {
		// opacity: 0;
		// background: var(--main-bright);
		transform: translateX(var(--line-translate-size));

		&:before {
			// background: var(--main-bright);
			transform: translate(calc(-1 * var(--line-translate-size)), -0.5rem)
				rotate(-45deg);
			// transform-origin: left;
		}

		&:after {
			// background: var(--main-bright);
			transform: translate(calc(-1 * var(--line-translate-size)), 0.47rem)
				rotate(45deg);
			// transform-origin: left;
		}
	}
}

.nav-item {
	text-transform: uppercase;
	// default state when hidden... animates on check
	clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
	transform: translateY(40%);
	opacity: 0;
	transition: all 300ms cubic-bezier(0, 0.75, 0.25, 1);
}

.nav-item a {
	pointer-events: auto;
	display: block;
	padding-block: 1rem 0.65rem;
	color: var(--foreground-color);
	border-bottom: var(--border-base);
	z-index: 100;
	transition: all 200ms ease-in-out;
	&:hover {
		background-color: var(--main-bright);
		color: var(--main-dark);
		padding-left: 0.5rem;
	}
}

// ***** Main Content ***** //

img {
	width: 100%;
	height: 100%;
}

h2 {
	font-size: var(--fontsize-b);
	font-weight: 600;
	line-height: 1.25;
	letter-spacing: -0.025em;
	margin-bottom: var(--h2-space-below);
}

.section:not(.section.hero-home) {
	padding-block: var(--section-block-padding);
}
// hero section home

.section.hero-home {
	grid-template-columns: var(--grid-col-setup);
}

.hero-home {
	min-height: 78vh;
	padding-bottom: calc(var(--unit) * 2);
	// desktop ?
	display: grid;
	gap: 1.818rem;
	align-items: end;
}

.hero-text {
	// width: calc((var(--fontsize-hero) * 46.525) - 100vw);
	// width: clamp(calc((var(--fontsize-hero) * 46.525) - 100vw), 66%, 66%);
	// max-width: 100%;
	font-size: var(--fontsize-hero);
	line-height: 1.3em;
	font-weight: 600;
	grid-column: 1 / -1;
	// margin-left: auto;

	// margin-left: clamp(
	// 	0,
	// 	calc((var(--fontsize-hero) * 29) - 100vw),
	// 	calc((var(--fontsize-hero) * 29) - 100vw)
	// );
	// grid-column: 5 / -1;
}

// project section on home

.work * {
	--background-color: var(--main-vibing);
	--foreground-color: var(--main-dark);
}

.work {
	scroll-margin-top: 6rem;
	--background-color: var(--main-vibing);
	--foreground-color: var(--main-dark);
	background-color: var(--background-color);
	color: var(--foreground-color);
}

.project-card {
	height: var(--proj-card-height);
	margin-bottom: calc(var(--section-block-padding) / 2);
	// overlap prep
	display: grid;
	grid-template-rows: (calc(var(--fontsize-c) * 1.83)) auto (
			(calc(var(--fontsize-c) * 1.83))
		);
}

.proj-card-title {
	font-family: var(--secondary-font);
	font-weight: 300;
	font-size: var(--fontsize-c);
	line-height: 1em;
	padding: 0.5em 0.28em 0.2em 0.28em;
	border: 2px solid var(--foreground-color);
	min-width: 100%;
	border-radius: var(--border-radius-unit);
	//faux height, card
	height: 100%;
	//overlap
	grid-row: 1 / -2;
	grid-column: 1 / -1;
}

.proj-card-img-wrapper {
	height: 100%;
	width: 100%;
	//faux height, card
	//apply to both wrapper and img for slide in to fit effect
	border: 2px solid var(--foreground-color);
	border-radius: var(--border-radius-unit);
	overflow: hidden;
	//overlap
	grid-row: 2 / -1;
	grid-column: 1 / -1;
}

.proj-card-img {
	width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: var(--border-radius-unit);
}

// // DESKTOP BASED
// .header {
// 	display: flex;
// 	justify-content: space-between;
// }

// .logotype a {
// 	font-weight: 800;
// 	// font-kerning: auto;
// }

// .nav-item a {
// 	padding-bottom: 0.28rem;
// }

// .nav-item a::after {
// 	content: "\2197";
// 	display: inline-block;
// 	opacity: 0;
// 	margin-left: 0.5rem;
// 	// for adjusting relative size;
// 	font-family: var(--secondary-font);
// 	font-size: 1.4rem;
// 	font-weight: 300;
// 	line-height: 0.2;
// 	transition: 100ms $primary-ease;
// }

// .nav-item a:hover::after {
// 	opacity: 1;
// }

// .nav-item:not(:first-of-type) a {
// 	padding-top: 0.5rem;
// 	border-top: 2px solid var(--foreground-color);
// }

// .nav-item:last-of-type a {
// 	border-bottom: 2px solid var(--foreground-color);
// }

// ***** Sections ***** //
